<div>
    <div class="settingsPage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="settingsMenu">
                        <h5>You</h5>
                        <ul>
                            <li><a class="pointer" href="#/settings/accountsetting">Account</a></li>
                            <li><a class="pointer" href="#/settings/organization">Organizations</a></li>
                        </ul>
                    </div>
                    <div class="settingsMenu">
                        <h5>info</h5>
                        <ul>
                            <li><a class="pointer" href="#/settings/phonesetting">Your Phone Settings</a></li>
                            <li><a class="pointer" href="#/settings/emailsetting">Your Email Settings</a></li>
                            <li><a class="pointer" href="#/settings/emailtemplatesetting">Your Email Templates</a></li>
                            <li><a class="pointer" href="#/settings/apisetting">Your API Keys</a></li>
                            <li><a class="pointer" href="#/settings/customizationsetting">Customizations</a></li>
                            <li><a class="pointer" href="#/settings/membersetting">Team &amp; Plans</a></li>
                            <li><a class="pointer" href="#/settings/billingsetting">Billing</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9  " id="phoneSetting">
                    <div class="row">
                        <h1>Phone Settings</h1>
                    </div>

                    <div class="row">
                        <h4>Call Recording</h4>
                    </div>

                    <div class="row checkbox">

                        <label>
                            <input type="checkbox" value="">Record all calls <span class="glyphicon glyphicon-question-sign"></span>
                        </label>
                    </div>
                    <div class="row">
                        <h4>Request a different number</h4>
                    </div>


                    <div class="row">
                        <h4>Current number: 662-269-8445</h4>


                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="row">
                                <div class="jumbotron">
                                    <form>
                                        <div class="row">
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <label id="lblFieldText1">Country</label>
                                                <select class="chosenSelector" data-placeholder="Choose a Country" tabindex="2">
                                                    <option>Egypt</option>
                                                    <option>Emarites</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                <label>Area</label>
                                                <input type="text" class="form-control TxtArea">
                                            </div>
                                        </div>
                                        <div class="row checkbox">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <label>
                                                    <input type="checkbox" class="CheckPhone" value="">I understand that I will no longer
                                                    be able to make or receive calls
                                                    from my current number
                                                </label>
                                            </div>
                                        </div>
                                        <div class="clear3"></div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <a class="btn btn-primary" role="button">Request New Number</a>
                                            </div>
                                        </div>
                                        <div class="clear3"></div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"></div>
                    </div>
                    <div class="row">
                        <h4>Voicemail Greeting <span class="glyphicon glyphicon-question-sign"></span></h4>
                    </div>
                    <div class="row">

                        <h5>
                            Greet your incoming callers with a custom voicemail message,
                            just <a href="#">recorded an mp3</a>
                            and upload it below
                        </h5>

                    </div>
                    <div class="row">
                        <input type="file" accept="audio/mpeg,audio/wav">
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <h4>Call Forwarding <span class="glyphicon glyphicon-question-sign"></span></h4>
                    </div>
                    <div class="row">
                        <h5>
                            Call forwarding allows you to route incoming calls to another phone when you're
                            not at your desk (or when Close.io isn't open).
                        </h5>
                    </div>
                    <div class="row checkbox">
                        <label>
                            <input type="checkbox" class="CheckPhone">
                            Enable call forwarding
                        </label>
                    </div>
                    <div class="row form-group">
                        <input type="text" class="TxtForword form-control txtLine" placeholder="+1 555-555-5555" value="+25556668749" disabled>
                        <a class="btn btn-primary" role="button">Save</a>
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <h4>Pre-Recorded Voicemail Drop  <span class="glyphicon glyphicon-question-sign"></span></h4>
                    </div>
                    <div class="row">

                        <h5>
                            To leave a pre-recorded voicemail message when making an outgoing call,
                            just <a href="#">recorded an mp3</a>
                            and upload it below

                        </h5>

                    </div>
                    <div class="row">
                        <input type="file" accept="audio/mpeg,audio/wav">
                    </div>
                    <div class="clear"></div>
                    <div class="row">
                        <h4>Port an existing number</h4>
                    </div>
                    <div class="row">

                        <h5>
                            To leave a pre-recorded voicemail message when making an outgoing call,
                            just <a href="#">recorded an mp3</a>
                            and upload it below.
                            See <a href="#">instructions for porting a number</a>if you'd like to port an existing phone number to Close.io.
                        </h5>
                    </div>
                </div>

                <div class="clear"></div>

            </div>
        </div>
    </div>
</div>