<div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear hidden-md"></div>
    <div class="clear hidden-md hidden-sm"></div>
    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 centerForgotBox">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
        <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
            <div class="row whiteBackgroungColor forgotBox">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3>Forgot your password?</h3>
                        </div>
                    </div>

                    <form id="frmForgot" name="frmForgot" role="form" novalidate ng-hide="formForgotDone" ng-show="!formForgotDone">
                        <div class="input-group-md">
                            <input type="email" class="form-control" placeholder="Email" id="txtEmail" name="txtEmail" ng-model="email" required>
                            <span class="errorFont" ng-show="frmForgot.txtEmail.$dirty && frmForgot.txtEmail.$invalid">
                                <span ng-show="frmForgot.txtEmail.$error.required">Required</span>
                                <span ng-show="frmForgot.txtEmail.$error.email">Invalid email address.</span>
                            </span>
                        </div>

                        <div class="clear2"></div>
                        <div class="input-group-sm">
                            <button class="btn btn-primary" type="submit" ng-click="submitForgot(frmForgot)"> Reset password </button>
                        </div>
                        <div class="clear"></div>
                    </form>
                    <div ng-show="formForgotDone" ng-hide="!formForgotDone">
                        <p>
                            We have sent you an email with a link to reset your password.
                        </p>
                    </div>
                </div>
            </div>
            <div class="clear3"></div>
            <div class="row forgotNavigation">

                <a href="#/" class="pull-left">Back to login</a>
                <a href="#/register" class="pull-right">Create an account</a>

            </div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
    </div>
</div>