<div class="page-lead">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7 first-column">
            <div class="row">
                <lead-profile />
            </div>
            <div class="row top5">
                <button tabindex="-1" type="button" class="btn btn-sm btn-danger" 
                ng-click="vm.deleteLead()" 
                ladda="vm.deleting">
                <span class="glyphicon glyphicon-trash"></span> Delete lead</button>
            </div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-7 second-column">
            <div class="row top10">
                <button type="button" class="btn btn-lg btn-default" ng-click="vm.addNote()"><i class="glyphicon glyphicon-comment"></i> Note</button>
                <button type="button" class="btn btn-lg btn-default" ng-disabled="!vm.isCanEmail"
                title="You can email this lead after adding an email address to a contact"><i class="glyphicon glyphicon-envelope"></i> Email</button>
                <button type="button" class="btn btn-lg btn-default" ng-disabled="!vm.isCanCall"><i class="glyphicon glyphicon-earphone"></i> Call</button>
            </div>
            <div class="row top10">
                <small>Showing: All</small>
            </div>
            <div class="row top10">
                <timeline>
                    <timeline-event ng-repeat="event in vm.events" 
                        side="right" 
                        id="{{event.uuid}}">
                      <timeline-badge class="{{event.badgeClass}} timeline-hidden container"
                        when-visible="vm.animateElementIn" when-not-visible="vm.animateElementOut">
                        <i class="glyphicon {{event.badgeIconClass}}"></i>
                      </timeline-badge>

                      <timeline-panel 
                      ng-if="event.type === 'Lead'" class="{{event.badgeClass}} timeline-hidden">
                        <timeline-heading>
                          {{event.title}} 
                        </timeline-heading>
                        <p>{{event.content}}</p>
                        <small>
                            <time data-toggle="tooltip" data-placement="top" title="{{event.createdAt}}">
                                <i class="glyphicon glyphicon-time"></i> {{event.createdAt | formatCreatedAt}}
                            </time>
                        </small>
                        <small class="badge pull-right">{{event.riaseFrom.username}}</small>
                      </timeline-panel>

                      <timeline-panel 
                        data-eventid="{{event._id}}"
                        ng-if="event.type === 'Note'" 
                        class="{{event.badgeClass}} timeline-hidden"
                        when-visible="vm.animateElementIn2">
                        <timeline-heading>
                        </timeline-heading>
                        <form class="form-note" ng-if="event._id == null">
                            <div class="form-group">
                                <textarea style="overflow: hidden; word-wrap: break-word; resize: none; height: 70px;" class="form-control" placeholder="Add a note about this lead" type="text" ng-model="vm.oneEvent.content" focus="{{vm.noteFocus}}"></textarea>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-6 col-md-6 col-lg-6 text-left">
                                  <button type="submit" class="btn btn-sm btn-danger" ng-click="vm.deleteEvent()"><span class="glyphicon glyphicon-trash"></span></button>
                                </div>
                                <div class="col-xs-6 col-md-6 col-lg-6 text-right">
                                  <button type="submit" class="btn btn-sm btn-default" ng-click="vm.doneNote()">Done</button>
                                </div>
                            </div>
                        </form>

                        <div ng-if="event._id != null">
                            <p>{{event.content}}</p> 
                            <small>
                                <time data-toggle="tooltip" data-placement="top" title="{{event.createdAt}}">
                                    <i class="glyphicon glyphicon-time"></i> {{event.createdAt | formatCreatedAt}}
                                </time>
                            </small>
                            <small class="badge pull-right">{{event.riaseFrom.username}}</small>
                        </div>
                      </timeline-panel>

                    </timeline-event>
                </timeline>
            </div>
        </div>
    </div>
</div>