doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/css/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/css/fontawesome/font-awesome.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content

    script(src='/js/general/jquery-1.11.1.min.js')
    script(src='/js/general/bootstrap/bootstrap.min.js')