<div ng-controller="ReportsController">
    <div class="clear2"></div>
    <div class="actionReportPage activityPage">
        <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
                    <h1>Activity Report</h1>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                    <div class="clear2"></div>
                    <button onclick="toggleFullScreen()" class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                    </button>
                </div>
        </div>
        <div class="clear3"></div>
        <div class="row">
            <div id="buttonsRow">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="pull-left">

                        <div class="btn-group">
                            <button type="button" class="btn btn-small btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> All Users <b class="caret"></b>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a><input type="checkbox" /> All Users</a></li>
                                <li class="divider"></li>
                                <li><a><input type="checkbox" /> John Adam</a></li>
                            </ul>
                        </div>

                        <button class="btn btn-default rangeFilter" id="rangeFilterActivityReport">
                            <i class="glyphicon glyphicon-calendar"></i><span> All Time </span><b class="caret"></b>
                        </button>

                        <div class="btn-group">
                            <button type="button" class="btn btn-small btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-download-alt"></span> <b class="caret"></b>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a><span class="fa fa-table"></span>  CSV / Excel</a></li>
                                <li><a><span class="fa fa-cloud-download"></span>  JSON</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="dottedWidget">
            <div class="clear3"></div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2>All Users' Report for Oct 18–24, 2015</h2>
                </div>
            </div>
            <div class="clear3"></div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="bottomDottedBorder">Leads</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="col-lg-5th col-md-5th col-sm-5th col-xs-5th text-center rightDottedBorder">
                        <h4 class="fontBold">Created</h4>
                        <a>0</a>
                    </div>
                    <div class="col-lg-5th col-md-5th col-sm-5th col-xs-5th text-center">
                        <h4 class="fontBold">Contacted</h4>
                        <a>1</a>
                    </div>
                    <div class="col-lg-5th col-md-5th col-sm-5th col-xs-5th text-center">

                    </div>
                    <div class="col-lg-5th col-md-5th col-sm-5th col-xs-5th text-center">

                    </div>
                    <div class="col-lg-5th col-md-5th col-sm-5th col-xs-5th text-center">

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="bottomDottedBorder">Opportunities</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-5th col-md-5th col-sm-5th col-xs-5th text-center rightDottedBorder">
                        <h4 class="fontBold">Created</h4>
                        <a>1</a>
                        <h3 class="darkGrayFont">$5,000 one time</h3>
                    </div>
                    <div class="col-lg-5th col-md-5th col-sm-5th col-xs-5th text-center rightDottedBorder">
                        <h4 class="fontBold">Won</h4>
                        <a>0</a>
                        <h3 class="darkGrayFont">$0 one time</h3>
                    </div>
                    <div class="col-lg-5th col-md-5th col-sm-5th col-xs-5th text-center ">
                        <h4 class="fontBold">Lost</h4>
                        <a>0</a>
                        <h3 class="darkGrayFont">$0 one time</h3>
                    </div>
                    <div class="col-lg-5th col-md-5th col-sm-5th col-xs-5th text-center ">

                    </div>
                    <div class="col-lg-5th col-md-5th col-sm-5th col-xs-5th text-center ">

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="bottomDottedBorder">Calls</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-5th col-md-5th col-sm-5th col-xs-5th text-center rightDottedBorder">
                        <h4 class="fontBold">Total</h4>
                        <a>0</a>
                    </div>
                    <div class="col-lg-5th col-md-5th col-sm-5th col-xs-5th text-center rightDottedBorder">
                        <h4 class="fontBold">Total Duration</h4>
                        <a class="darkGrayFont bigFont">0s</a>
                    </div>
                    <div class="col-lg-5th col-md-5th col-sm-5th col-xs-5th text-center ">
                        <h4 class="fontBold">Average Duration</h4>
                        <a class="darkGrayFont bigFont">0s</a>
                    </div>
                    <div class="col-lg-5th col-md-5th col-sm-5th col-xs-5th text-center ">

                    </div>
                    <div class="col-lg-5th col-md-5th col-sm-5th col-xs-5th text-center ">

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="bottomDottedBorder">Emails</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="col-lg-5th col-md-5th col-sm-5th col-xs-5th text-center rightDottedBorder">
                        <h4 class="fontBold">Sent</h4>
                        <a>4</a>
                    </div>
                    <div class="col-lg-5th col-md-5th col-sm-5th col-xs-5th text-center">
                        <h4 class="fontBold">Received</h4>
                        <a>0</a>
                    </div>
                    <div class="col-lg-5th col-md-5th col-sm-5th col-xs-5th text-center">

                    </div>
                    <div class="col-lg-5th col-md-5th col-sm-5th col-xs-5th text-center">

                    </div>
                    <div class="col-lg-5th col-md-5th col-sm-5th col-xs-5th text-center">

                    </div>
                </div>
            </div>

            <div class="clear"></div>
        </div>

    </div>
</div>
