<div ng-controller="bulkController">
    <div class="bulk">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <h1>Bulk Review</h1>
            </div>
            <div class="row">
                <h3> {{data.length}} Lead found in your file.</h3>
            </div>
            <div class="row">
                <p>Please match each column with appropriate feild.</p>
            </div>
            <div class="clear2"></div>
            <div class="DocumentList">
                <ul class="list-inline">
                    <li class="DocumentItem">
                        <h2>Lead name</h2>
                        <select class="form-control">
                            <option value="0">Select column to match</option>
                            <optgroup label="Lead">Contact</optgroup>
                            <option value="Title">Title</option>
                            <option value="URL">URL</option>
                            <option value="Address">Address Type</option>
                            <option value="Address">Address</option>
                            <optgroup label="Contacts">Contact</optgroup>
                            <option value="Contact.Name">Name</option>
                            <option value="Contact.Title">Title</option>
                            <option value="Contact.Phone">Phone</option>
                            <option value="Contact.Email">Email</option>
                        </select>
                        <hr />
                        <h6>Amir Ali</h6>
                        <h6>Mortada Mansour</h6>
                        <h6>Ahmed Nader</h6>
                        <h6>Saied Hafez</h6>
                        <h6 class="text-muted">+23...</h6>
                    </li>
                    <li class="DocumentItem">
                        <h2>Lead name</h2>
                        <select class="form-control">
                            <option value="0">Select column to match</option>
                            <optgroup label="Lead">Contact</optgroup>
                            <option value="Title">Title</option>
                            <option value="URL">URL</option>
                            <option value="Address">Address Type</option>
                            <option value="Address">Address</option>
                            <optgroup label="Contacts">Contact</optgroup>
                            <option value="Contact.Name">Name</option>
                            <option value="Contact.Title">Title</option>
                            <option value="Contact.Phone">Phone</option>
                            <option value="Contact.Email">Email</option>
                        </select>
                        <hr />
                        <h6>Amir Ali</h6>
                        <h6>Mortada Mansour</h6>
                        <h6>Ahmed Nader</h6>
                        <h6>Saied Hafez</h6>
                        <h6 class="text-muted">+23...</h6>
                    </li>
                    <li class="DocumentItem">
                        <h2>Lead name</h2>
                        <select class="form-control">
                            <option value="0">Select column to match</option>
                            <optgroup label="Lead">Contact</optgroup>
                            <option value="Title">Title</option>
                            <option value="URL">URL</option>
                            <option value="Address">Address Type</option>
                            <option value="Address">Address</option>
                            <optgroup label="Contacts">Contact</optgroup>
                            <option value="Contact.Name">Name</option>
                            <option value="Contact.Title">Title</option>
                            <option value="Contact.Phone">Phone</option>
                            <option value="Contact.Email">Email</option>
                        </select>
                        <hr />
                        <h6>Amir Ali</h6>
                        <h6>Mortada Mansour</h6>
                        <h6>Ahmed Nader</h6>
                        <h6>Saied Hafez</h6>
                        <h6 class="text-muted">+23...</h6>
                    </li>
                    <li class="DocumentItem">
                        <h2>Lead name</h2>
                        <select class="form-control">
                            <option value="0">Select column to match</option>
                            <optgroup label="Lead">Contact</optgroup>
                            <option value="Title">Title</option>
                            <option value="URL">URL</option>
                            <option value="Address">Address Type</option>
                            <option value="Address">Address</option>
                            <optgroup label="Contacts">Contact</optgroup>
                            <option value="Contact.Name">Name</option>
                            <option value="Contact.Title">Title</option>
                            <option value="Contact.Phone">Phone</option>
                            <option value="Contact.Email">Email</option>
                        </select>
                        <hr />
                        <h6>Amir Ali</h6>
                        <h6>Mortada Mansour</h6>
                        <h6>Ahmed Nader</h6>
                        <h6>Saied Hafez</h6>
                        <h6 class="text-muted">+23...</h6>
                    </li>
                    <li class="DocumentItem">
                        <h2>Lead name</h2>
                        <select class="form-control">
                            <option value="0">Select column to match</option>
                            <optgroup label="Lead">Contact</optgroup>
                            <option value="Title">Title</option>
                            <option value="URL">URL</option>
                            <option value="Address">Address Type</option>
                            <option value="Address">Address</option>
                            <optgroup label="Contacts">Contact</optgroup>
                            <option value="Contact.Name">Name</option>
                            <option value="Contact.Title">Title</option>
                            <option value="Contact.Phone">Phone</option>
                            <option value="Contact.Email">Email</option>
                        </select>
                        <hr />
                        <h6>Amir Ali</h6>
                        <h6>Mortada Mansour</h6>
                        <h6>Ahmed Nader</h6>
                        <h6>Saied Hafez</h6>
                        <h6 class="text-muted">+23...</h6>
                    </li>
                </ul>
            </div>
            <br/>
            <div class="row text-right">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-default" role="button">Startover</button>
                    <button class="btn btn-primary" role="button">Import</button>
                </div>
            </div>
        </div>
    </div>
</div>