<div class="container">
	<div class="login-box">
		<div class="inner">
			<h2>Login to Close.io</h2>

			<form ng-submit="vm.onSubmit()">
				<div class="input-group-md bottom10">
					<input ng-model="vm.credentials.username" type="email" class="form-control" placeholder="Email" required>
				</div>
				<div class="input-group-md bottom10">
					<input ng-model="vm.credentials.password" type="password" class="form-control" placeholder="Password" required>
				</div>
				<button type="submit" class="btn btn-primary">Log in</button>
			</form>

		</div>
		<a class="pull-left under" href="/forgot">Forgot your password?</a>
		<a class="pull-right under signup" href="/signup" data-bypass="true">Create an account</a>
	</div>
</div>